{% extends "base22.html" %}
{% load static %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "About" %}{% endif %}{% endblock %}


{% block content %}



        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
               <h1 class="pull-left"><strong>About</strong></h1>
            </div>
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

		<!--=== Parallax About Block ===-->
		<div class="parallax-bg parallaxBg1">
			<div class="container content parallax-about">
				<div class="row">
					<div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-info"></i>
							<div class="overflow-h">
								<h5>The Python Ghana Community (PyGhana) is a body that embraces all friends of the Python programming language in Ghana. We are a community of master programmers, intermediate and even absolute beginners, but one thing we all have in common is the love of Python.
								It encompasses all friends of the Python programming language in the Ghana.
								The community is open to everyone at all levels.<br><br> <p>So whether you are resident in Ghana or outside the country, an absolute beginner or a maestro, program in Python or other languages but have some interest in Python, our community will embrace you.
								We have an active Slack team, where we engage ourselves regularly. You can check out our Github page for blog we have or are working on.</p></h5>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<div class="overflow-h">
								<h3><strong>Our vision</strong></h3>
								<ul>
									<li><h5>
										To promote the use of the Python programming language across industries, communities, schools, learning centers, regardless of age, ethnicity, gender, ability, and recognizing the value of diversity.
									</h5></li>
									<li><h5>
										To be a representative of the Python Software Foundation in Ghana, and to be a facilitator of the global vision of the foundation.
									</h5></li>
									<li><h5>
										To involve IT professionals who use the Python programming language with the local community, to impart knowledge.
									</h5></li>
									<li><h5>
										To foster unity among community members and promote the individual development of community members.
									</h5></li>
									<li><h5>
										To ensure collaboration between the local community and the wider international Python community.
									</h5></li>
									<li><h5>
										To educate, encourage, support and if necessary, help facilitate projects of members of the community.
									</h5></li>
									<li><h5>
										To monitor all community projects and ensure a safe and friendly environment, and conformity to the code of conduct as stipulated by the Python Software Foundation.
									</h5></li>
									
								</ul>
								

								

								
							</div>
						</div>
					</div>


				</div>
			</div><!--/container-->
		</div>
		<!--=== End Parallax About Block ===-->


{% endblock %}
