{% extends "baseN.html" %}
{% load static %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Resources" %}{% endif %}{% endblock %}


{% block content %}



    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 u-bg-overlay g-bg-black-opacity-0_3--after" style="height: 140%; background-image: url({% static 'assets20/img/breadcrumbs/img1.jpg' %});"></div>
        <!-- End Parallax Image -->
  
        <!-- Promo Block Content -->
        <div class="container g-color-white text-center g-py-120">
          <h3 class="h1 g-font-weight-600 text-uppercase mb-2"></h3>
        </div>
        <!-- Promo Block Content -->
      </section>
      <!-- End Promo Block -->
  
  
  <div class="shortcode-html">
    <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-py-50">
      <div class="container">
        <div class="d-sm-flex text-center">
          <div class="align-self-center">
            <h3 class="h2 g-font-weight-300 g-mb-20"><b>Resources</b></h3>
          </div>
        </div>
      </div>
    </section>
  </div>
   

  <section class="g-py-50">
    <div class="container">
      <!-- Heading -->
      <header class="g-mb-80">
      <div class="u-shadow-v19 g-bg-white g-pa-30">
        <div class="media g-mb-15">
          <div class="d-flex mr-4">
            <span class="g-color-gray-dark-v4 g-font-size-26">
              <i class=" icon-education-120 u-line-icon-pro u-line-icon-pro u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black mb-20">Books</h3>
            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
           <br><br>

        <div class="shortcode-html">
          <!-- Icon Blocks -->
          <div class="row">
            <div class="col-lg-4 g-mb-10">
              <!-- Icon Blocks -->
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-107 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
                  <h3 class="h5 g-color-black mb-20" href="https://wiki.python.org/moin/IntroductoryBooks">Introductory Books</a></h3>
                  <p class="g-color-gray-dark-v4">
                    The books on this link are all general introductions to the Python language. Most of these books will contain a few chapters on particular applications such as GUI interfaces or Web programming, but won't go into great detail on any one topic.
                  </p>
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="https://wiki.python.org/moin/IntroductoryBooks">See more...</a>
                </div>
              </div>
              <!-- End Icon Blocks -->
              <hr class="g-mt-30">
            </div>

            <div class="col-lg-4 g-mb-10">
              <!-- Icon Blocks -->
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-035 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
                  <h3 class="h5 g-color-black mb-20" href="https://wiki.python.org/moin/AdvancedBooks">Advanced Books</a></h3>
                  <p class="g-color-gray-dark-v4">
                    The books on this link are all for when you don't want gentle, and want some advance things in Python programming language  
                  </p><br><br><br>
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="https://wiki.python.org/moin/AdvancedBooks">See more...</a>
                </div>
              </div>
              <!-- End Icon Blocks -->
              <hr class="g-mt-30">
            </div>

            <div class="col-lg-4 g-mb-10">
              <!-- Icon Blocks -->
              <div class="media g-mb-15">
                <div class="d-flex mr-4">
                  <span class="g-color-gray-dark-v4 g-font-size-26">
                    <i class="icon-education-197 u-line-icon-pro"></i>
                  </span>
                </div>
                <div class="media-body">
                  <h3 class="h5 g-color-black mb-20" href="https://wiki.python.org/moin/ReferenceBooks">Reference Books</a></h3>
                  <p class="g-color-gray-dark-v4">
                    If you want to refer to the Python Books page for lists of application-specific books. Experienced programmers who prefer a brief and condensed introduction should look at the list of Reference Books.
                  </p><br>
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="https://wiki.python.org/moin/ReferenceBooks">See more...</a>
                </div>
              </div>
              <!-- End Icon Blocks -->
              <hr class="g-mt-30">
            </div>
          </div>
          <!-- End Icon Blocks -->
        </div>
      

    <div class="row g-mx-minus-10 g-mb-50">

      {% for book in books %}
        {% if book.is_active %}
      <div class="col-md-6 col-lg-4 g-px-10">
        <!-- Book -->
        <article class="media g-brd-around g-brd-gray-light-v4 g-bg-white rounded g-pa-10 g-mb-20">
          <!-- Book Image -->
          <div class="g-max-width-100 g-mr-15">
            <img class="d-flex w-100" src="{{ book.book_image.url }}" alt="Image Description">
          </div>
          <!-- End Book Image -->

          <!-- Book Info -->
          <div class="media-body align-self-center">
            <h4 class="h5 g-mb-7">
              <a class="g-color-black g-color-primary--hover g-text-underline--none--hover" href="{{ book.book_link }}" target="/">{{ book.book_title }}</a>
            </h4>


            <p class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10">
            {% if book.beginner_level%}
              <span class="u-label u-label--sm g-bg-green rounded g-px-10"><small><b>Beginner</b></small></span>
              {% else %}
              <p></p>
            {% endif %}
            {% if book.intermediate_level %}
              <span class="u-label u-label--sm g-bg-yellow g-color-black rounded g-px-10"><small><b>Intermediate</b></small></span>
              {% else %}
              <p></p>
            {% endif %}
            {% if book.expert_level %}
              <span class="u-label u-label--sm g-bg-red rounded g-px-10"><small><b>Expert</b></small></span>
            {% else %}
              <p></p>
            {% endif %}
            </p>
          
            <!-- End Book Info -->

            <!-- Book Footer -->
            <footer class="d-flex justify-content-between g-font-size-16">
              <span class="g-color-black g-line-height-1"> </span>
              <ul class="list-inline g-color-gray-light-v2 g-font-size-14 g-line-height-1">
                <li class="list-inline-item align-middle">
                  <a class="u-tags-v1 g-font-size-12 g-color-main g-brd-around g-brd-gray-light-v3 g-bg-gray-dark-v2--hover g-brd-gray-dark-v2--hover g-color-white--hover rounded g-py-3 g-px-8" href="{{ book.book_link }}" target="/">Get Book</a>
              </li>
              </ul>
            </footer>
            <!-- End Book Footer -->
          </div>
        </article>
        <!-- End Book-->
      </div>
      {% else %}
        <p></p>
        {% endif %}
        {% endfor %}



    </div>



<!--
    <div class="text-center">
      <a class="btn u-btn-primary g-font-size-12 text-uppercase g-py-12 g-px-25" href="#">All New Arrivals</a>
    </div>

-->


        
          </div>
        </div>

        <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
       
       
        <div class="media g-mb-15">
          <div class="d-flex mr-4">
            <span class="g-color-gray-dark-v4 g-font-size-26">
              <i class=" icon-education-157 u-line-icon-pro u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black mb-20">Recommended Articles</h3>
            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
            <ul class="list-unstyled">
             
            {% for article in articles %}
              {% if article.is_active %}
              <li class="media g-brd-around g-brd-gray-light-v4 g-brd-left-3 g-brd-primary-left g-rounded-3 g-pa-20 g-mb-7">
                <div class="d-flex g-mt-4 g-mr-15">
                  <img class="g-width-40 g-height-40 rounded" src="{{ article.article_image.url }}" alt="Image Description">
                </div>
                <div class="media-body">
                  <div class="d-flex justify-content-between">
                    <h5 class="h6 g-font-weight-600 g-color-black">{{ article.article_title }}</h5>
                  </div>
                  <span class="u-label u-label--sm g-bg-yellow rounded g-px-10 g-color-black"><b>Author:</b> {{ article.article_author }}</span>
                  <br><br><br>
                  <p>{{ article.article_description }}</p>
                
                  <p class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                    {% if article.beginner_level%}
                      <span class="u-label u-label--sm g-bg-green rounded g-px-10"><small><b>Beginner</b></small></span>
                      {% else %}
                      <p></p>
                    {% endif %}
                    {% if article.intermediate_level %}
                      <span class="u-label u-label--sm g-bg-yellow g-color-black rounded g-px-10"><small><b>Intermediate</b></small></span>
                      {% else %}
                      <p></p>
                    {% endif %}
                    {% if article.expert_level %}
                      <span class="u-label u-label--sm g-bg-red rounded g-px-10"><small><b>Expert</b></small></span>
                    {% else %}
                      <p></p>
                    {% endif %}
                    </p>
                    <br><br>
                    <a href="{{ article.article_link }}" class="btn btn-sm u-btn-skew  u-btn-outline-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-px-20 g-mx-5 g-mr-10 g-mb-15" target="/">
                      <span class="u-btn-skew__inner">
                        Read more...
                        <i class="fa fa-file-text-o g-ml-3"></i>
                      </span>
                    </a>
                    
                </div>
              
              </li>
              {% else %}
              <p></p>
              {% endif %}
              {% endfor %}
              
            </ul>
            
          </div>
        </div>

        <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
       
       
        <div class="media g-mb-15">
          <div class="d-flex mr-4">
            <span class="g-color-gray-dark-v4 g-font-size-26">
              <i class=" icon-education-091 u-line-icon-pro u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black mb-20">Videos</h3>
            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
            
        <div class="shortcode-html">
          <div class="row">
            
            {% for video in videos %}
            {% if video.is_active %}

            <div class="col-lg-6 g-mb-30">
              <article>
                <figure class="g-pos-rel">
                  <img class="img-fluid w-100 g-mb-20" src="{{ video.video_image.url }}" alt="Image Description">
                  
                  <span class="g-hidden-xs-down g-font-size-default g-color-black g-color-primary--hover g-absolute-centered">
                    <a href="{{ video.video_link }}" target="/" class="btn btn-lg u-btn-outline-primary u-btn-hover-v1-3 g-absolute-centered g-letter-spacing-0_5 text-uppercase g-rounded-50 g-px-30 g-mr-10 g-mb-15">                    
                      <i class="fa fa-play float-right g-font-size-42 g-ml-15"></i>
                    </a>
                  </span>

                  <figcaption class="g-pos-abs g-top-20 g-left-20">
                    <a class="btn btn-sm u-btn-primary rounded-0 g-color-white" ><b>{{ video.video_author }}</b></a>
                  </figcaption>
                </figure>

                
          
                <div class="g-pos-rel px-4">
                  <ul class="d-flex justify-content-start align-items-end list-inline g-color-gray-dark-v5 g-font-size-13 g-mt-minus-45 g-mb-20">
                    <li class="list-inline-item mr-3"><br><br>
                      <h4 class="h6 g-font-weight-600 mb-0">
                        <a class="g-color-gray-dark-v4" >{{ video.video_speaker }}</a>
                      </h4>
                    </li>
                    <li class="list-inline-item">
                      <span class="g-font-size-13">{{ video.video_release_date }}</span>
                    </li>
                    <li class="list-inline-item ml-auto">
                      <p class="d-inline-block g-color-gray-dark-v5 g-font-size-13 g-mb-10">
                        {% if video.beginner_level%}
                          <span class="u-label u-label--sm g-bg-green rounded g-px-10"><small><b>Beginner</b></small></span>
                          {% else %}
                          <p></p>
                        {% endif %}
                        {% if video.intermediate_level %}
                          <span class="u-label u-label--sm g-bg-yellow g-color-black rounded g-px-10"><small><b>Intermediate</b></small></span>
                          {% else %}
                          <p></p>
                        {% endif %}
                        {% if video.expert_level %}
                          <span class="u-label u-label--sm g-bg-red rounded g-px-10"><small><b>Expert</b></small></span>
                        {% else %}
                          <p></p>
                        {% endif %}
                        </p>
                    </li>
                  </ul>
          
                  <h3 class="h4">
                    <a class="u-link-v5 g-color-gray-dark-v2 g-color-primary--hover" href="{{ video.video_link }}" target="/">{{ video.video_title }}</a>
                  </h3>
          
                  <p class="g-color-gray-dark-v4">{{ video.video_description }}</p>
          
                  <a  href="{{ video.video_link }}" target="/" class="btn btn-md u-btn-inset u-btn-inset--rounded u-btn-primary g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-brd-2 g-rounded-50 g-mr-10 g-mb-15">
                    <i class="fa fa-play g-mr-3"></i>
                  </a>
                </div>
              </article>
            </div>

            {% else %}
              <p></p>
              {% endif %}
              {% endfor %}
            

           
          </div>
        </div>
      
            
          </div>
        </div>



        <hr class="u-divider-linear-gradient u-divider-linear-gradient--gray-light-v2 g-my-50">
       
       
        <div class="media g-mb-15">
          <div class="d-flex mr-4">
            <span class="g-color-gray-dark-v4 g-font-size-26">
              <i class=" icon-communication-095 u-line-icon-pro"></i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="h5 g-color-black mb-20">Links</h3>
            <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
            <div class="one-page-inner one-default">
              <div class="container content">
                  <div class="row content-boxes-v2">
                      <div class="col-md-4 md-margin-bottom-30">
                        <a href="http://www.python.org/" target="/" class="btn btn-xl u-btn-outline-primary u-btn-hover-v1-3 g-letter-spacing-0_5 text-uppercase g-rounded-50 g-px-30 g-mr-10 g-mb-15">
                          <span class="pull-left text-left">
                            Python.ORG
                            <span class="d-block g-font-size-11">The Python Home Page</span>
                          </span>
                        </a>
                      </div>
                      <div class="col-md-4 md-margin-bottom-30">
                        <a href="https://pypi.org/" target="/" class="btn btn-xl u-btn-outline-yellow u-btn-hover-v1-3 g-letter-spacing-0_5 text-uppercase g-rounded-50 g-px-30 g-mr-10 g-mb-15">
                          <span class="pull-left text-left">Python Package Index
                          </span>
                          <span class="d-block g-font-size-11">The Python Package Index</span>
                        </a>
                        
                      </div>
                      <div class="col-md-4">
                        <a href="http://www.python.org/psf" target="/" class="btn btn-xl u-btn-outline-primary u-btn-hover-v1-3 g-letter-spacing-0_5 text-uppercase g-rounded-50 g-px-30 g-mr-10 g-mb-15">
                          <span class="pull-left text-left">
                            The PSF
                            <span class="d-block g-font-size-11">The Python Software Foundation</span>
                          </span>
                        </a>
                        </div>

                  </div><br>
                  
                  <div class="row content-boxes-v2">
                     
                      <div class="col-md-3 md-margin-bottom-30">
                        <a href="http://blog.python.org/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Python Blog
                          </span>
                        </a>

                      </div>
                      <div class="col-md-3">
                        <a href="https://www.python.org/blogs/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Python News
                          </span>
                        </a>
                          
                      </div>
                      
                      <div class="col-md-3 md-margin-bottom-30">
                        <a href="https://www.python.org/events/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Python Events
                          </span>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="http://pyfound.blogspot.com/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">ThePSF News
                          </span>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="https://pycon.blogspot.com/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">PyCon News
                          </span>
                        </a>
                      </div>
                      <div class="col-md-3">
                          <a href="https://www.python.org/doc/essays/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                            <span class="u-btn-skew__inner">Python Essays
                            </span>
                          </a>
                      </div>
                      <div class="col-md-3">
                          <a href="http://pyvideo.org/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                            <span class="u-btn-skew__inner">Python Video
                            </span>
                          </a>
                      </div>
                      <div class="col-md-3 md-margin-bottom-30">
                        <a href="https://www.python.org/community/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Python Community
                          </span>
                        </a>
                    </div>
                      <div class="col-md-3">
                        <a href="https://www.pycon.org/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">Python Conferences
                          </span>
                        </a>
                    </div>
                      <div class="col-md-3">
                        <a href="https://www.python.org/about/success/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Python Success Stories
                          </span>
                        </a>
                          
                      </div>
                      <div class="col-md-3 md-margin-bottom-30">
                        <a href="https://www.python.org/about/quotes/" target="/" class="btn btn-md u-btn-outline-yellow u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">
                            Quotes about Python
                          </span>
                        </a>
                      </div>
                      <div class="col-md-3">
                        <a href="https://www.python.org/downloads/" target="/" class="btn btn-md u-btn-outline-primary u-btn-skew u-btn-hover-v1-3 g-font-weight-600 g-letter-spacing-0_5 text-uppercase g-mr-10 g-mb-15">
                          <span class="u-btn-skew__inner">Python Downloads
                          </span>
                        </a>
                    </div>
                    </div>
                  </div>
              </div>
            
          </div>
        </div>


      </div>
      </header>
      <!-- End Heading -->

    </div>
</section>
    
    {% endblock %}
    