{% extends "base22.html" %}
{% load static %}

{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "505" %}{% endif %}{% endblock %}	

{% block content %}  	

        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
               <h1 class="pull-left"><strong>Error 505</strong></h1>
            </div>
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->

<!--=== Error V5 ===-->
	<div class="container valign__middle">
		<!--Error Block-->
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="error-v5">
					<a class="logo-a" href="#"><img alt="" src="{% static 'assets/img/themes/logo2-default.png' %}" class="logo"></a>
					<h1>That's an error!</h1>
					<span class="sorry">The requested URL was not found on this server.<br> That's all we know.</span>
					<img class="error-img" src="{% static 'assets/img/error/error-404-v5.png' %}" alt="error">
					<form>
						<div class="input-group col-md-12">
							<input type="text" class="form-control" placeholder="Try to find something">
							<span class="input-group-btn">
								<button class="btn-u" type="button">Search</button>
							</span>
						</div><!-- /input-group -->
					</form>
					<br>
					<span><a href="/home">Back home</a></span>
				</div>
			</div>
		</div>
	</div><!--/container-->
	<!--End Error Block-->
{% endblock %}