<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n pages_tags  mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags events_tags %}
<head>
  <!-- Title -->
  <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>
   
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  <!-- Google Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
  <!-- CSS Global Compulsory -->
  <link rel="stylesheet" href="{% static 'assets20/vendor/bootstrap/bootstrap.min.css' %}">
  
  <!-- CSS Global Icons -->
  <link rel="stylesheet" href="{% static 'assets20/vendor/icon-awesome/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/icon-line/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/icon-etlinefont/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/icon-line-pro/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/icon-hs/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/animate.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/dzsparallaxer/dzsparallaxer.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/dzsparallaxer/dzsscroller/scroller.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/dzsparallaxer/advancedscroller/plugin.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/fancybox/jquery.fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/hs-bg-video/hs-bg-video.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/hs-megamenu/src/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/vendor/hamburgers/hamburgers.min.css' %}">

    <!-- CSS Header and Footer -->
  <link rel="stylesheet" href="{% static 'assets/css/footers/footer-v1.css' %}">
  <!-- CSS Unify -->
  <link rel="stylesheet" href="{% static 'assets20/css/unify-core.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/css/unify-components.css' %}">
  <link rel="stylesheet" href="{% static 'assets20/css/unify-globals.css' %}">
  {% block extra_css %}{% endblock extra_css %}
  <!-- CSS Customization -->
  <link rel="stylesheet" href="{% static 'assets20/css/custom.css' %}">
</head>
{% block extra_head %}{% endblock %}

<body>

  <main>

    {% include 'navbarN.html' %}



    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}

    
    <a class="js-go-to u-go-to-v1" href="#" data-type="fixed" data-position='{
     "bottom": 15,
     "right": 15
   }' data-offset-top="400" data-compensation="#js-header" data-show-effect="zoomIn">
      <i class="hs-icon hs-icon-arrow-top"></i>
    </a>
  </main>

  <div class="u-outer-spaces-helper"></div>


  <!-- JS Global Compulsory -->
  <script src="{% static 'assets20/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'assets20/vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'assets20/vendor/popper.js/popper.min.js' %}"></script>
  <script src="{% static 'assets20/vendor/bootstrap/bootstrap.min.js' %}"></script>


  <!-- JS Implementing Plugins -->
  <script src="{% static 'assets20/vendor/appear.js' %}"></script>
  <script src="{% static 'assets20/vendor/slick-carousel/slick/slick.js' %}"></script>
  <script src="{% static 'assets20/vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
  <script src="{% static 'assets20/vendor/dzsparallaxer/dzsparallaxer.js' %}"></script>
  <script src="{% static 'assets20/vendor/dzsparallaxer/dzsscroller/scroller.js' %}"></script>
  <script src="{% static 'assets20/vendor/dzsparallaxer/advancedscroller/plugin.js' %}"></script>
  <script src="{% static 'assets20/vendor/hs-bg-video/hs-bg-video.js' %}"></script>
  <script src="{% static 'assets20/vendor/hs-bg-video/vendor/player.min.js' %}"></script>
  <script src="{% static 'assets20/vendor/fancybox/jquery.fancybox.js' %}"></script>


  <script src="{% static 'assets/plugins/owl-carousel/owl-carousel/owl.carousel.js' %}"></script>
    
  <!-- JS Unify -->
  <script src="{% static 'assets20/js/hs.core.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.header.js' %}"></script>
  <script src="{% static 'assets20/js/helpers/hs.hamburgers.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.tabs.js' %}"></script>
  <script src="{% static 'assets20/js/helpers/hs.height-calc.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.onscroll-animation.js' %}"></script>
  <script src="{% static 'assets20/js/helpers/hs.bg-video.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.popup.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.carousel.js' %}"></script>
  <script src="{% static 'assets20/js/components/hs.go-to.js' %}"></script>

  <!-- JS Customization -->
  <script src="{% static 'assets20/js/custom.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of header's height equal offset
        $.HSCore.helpers.HSHeightCalc.init();

        // initialization of scroll animation
        $.HSCore.components.HSOnScrollAnimation.init('[data-animation]');

        // initialization of video on background
        $.HSCore.helpers.HSBgVideo.init('.js-bg-video');

        // initialization of popups with media
        $.HSCore.components.HSPopup.init('.js-fancybox-media', {
          helpers: {
            media: {},
            overlay: {
              css: {
                'background': 'rgba(0, 0, 0, .8)'
              }
            }
          }
        });

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
          event: 'hover',
          pageContainer: $('.container'),
          breakpoint: 991
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
  </script>



</body>

</html>
