{% load static %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block footer %}

 <!--=== Footer Version 1 ===-->
 <div class="footer-v1">
    <div class="footer">
      <div class="container ">
      <div class="row">
       <div class="col-md-3 md-margin-bottom-40">
            <a href="/home"><img id="logo-footer" class="footer-logo" src="{% static 'pro_images/pythonfooter.png' %}" alt=""></a>
          </div>
            <!-- Link List -->
          <div class="col-md-4 md-margin-bottom-40">
            <div class="headline"><h2>JOIN US ON</h2></div>
                      <div class="row" align="center">
                        <a href="http://bit.ly/PyGhTelegram" target="_blank">
                            <img src="{% static 'social/telegram.png' %}" class="dpg-icon" alt="Python Ghana Telegram"  class="img-responsive hover-effect tooltips" alt="" data-toggle="tooltip" data-placement="right" title="Our Telegram Group" data-original-title="Tooltip on right">
                        </a>
                        <a href="https://twitter.com/pyghana" target="_blank">
                            <img src="{% static 'social/social-twitter.png' %}" class="dpg-icon" alt="Python Ghana Twitter"  class="img-responsive hover-effect tooltips" alt="" data-toggle="tooltip" data-placement="right" title="Our Twitter Page" data-original-title="Tooltip on right">
                        </a>
                        <a href="https://github.com/pythonghana" target="_blank">
                            <img src="{% static 'social/social-github1.png' %}" class="dpg-icon" alt="Python Ghana Github"  class="img-responsive hover-effect tooltips" alt="" data-toggle="tooltip" data-placement="right" title="Our GitHub Repository" data-original-title="Tooltip on right">
                        </a>
                        <a href="https://pythonghana.slack.com/" target="_blank">
                            <img src="{% static 'social/slack-logo.png' %}" class="dpg-icon" alt="Python Ghana Slack"  class="img-responsive hover-effect tooltips" alt="" data-toggle="tooltip" data-placement="right" title="Our Slack Page" data-original-title="Tooltip on right">
                        </a>
                        <a href="https://mail.python.org/mm3/mailman3/lists/pythonghana.python.org/" target="_blank">
                            <img src="{% static 'social/mail.png' %}" class="dpg-icon" alt="Python Ghana Linkedin"  class="img-responsive hover-effect tooltips" alt="" data-toggle="tooltip" data-placement="right" title="Our Mailing List" data-original-title="Tooltip on right">
                        </a>
                     </div>
          </div><!--/col-md-3-->
          <!-- End Link List -->
        <!-- Link List -->
          <div class="col-md-4 md-margin-bottom-40">
            <div class="headline"><h2>Useful Links</h2></div>
            <ul class="list-unstyled link-list">
              <li>{% page_menu "pages/menus/footer.html" %}</li>
            </ul>
          </div><!--/col-md-3-->
          <!-- End Link List -->
      </div>
      </div>
    </div><!--/footer-->
   <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p>
                Python/Django web hosting for Python Ghana is generously donated by <a href="https://www.pythonanywhere.com/?affiliate_id=002cb45d" target="/"><img src="{% static 'pro_images/pythonanywhereS.jpg' %}" alt=""></a> <br><br> {% now "Y" %} &copy; All Rights Reserved Python Ghana. 
             </p>
          </div>
        </div>
      </div>
    </div><!--/copyright-->
  </div>
    
  
  
{% endblock %}