{% extends "base2.html" %}
{% load static %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block content %}
<div class="parallax-bg parallaxBg1">
		<!-- Interactive Slider v2 -->
		<div class="interactive-slider-v2 img-v2">
			<div class="container">
				<h1>Welcome to Python Ghana </h1>
				<p><strong>Python Users Community in Ghana.</strong></p>
			</div>
			<br>
		</div>
		<!-- End Interactive Slider v2 -->
		<div class="container content">
			<div class="text-center margin-bottom-50">
				<h2 class="title-v2 title-center"><strong>Welcome to our Site</strong></h2>
				<h4>Python Ghana (PyGhana) is a body that embraces all friends of the Python programming language in Ghana. We are a Community of master programmers, intermediate and even absolute beginners, but one thing we all have in common is the love of Python.</h4>
			</div>
		</div>
		<div class="bg-grey content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="responsive-video margin-bottom-30">
							<iframe width="640" height="360" src="https://www.youtube.com/embed/hxGB7LU4i1I" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<h2 class="title-v2">WHY PYTHON?</h2>
						<h4><p>Python is easy to use, powerful, and versatile, making it a great choice for beginners and experts alike. Python’s readability makes it a great first programming language — it allows you to think like a programmer and not waste time understanding the mysterious syntax that other programming languages can require.</p>
						<p>Python is an extremely powerful dynamic programming language used in applications in various fields. Python is often compared to Tcl, Perl, Scheme, Java, and so on. Python has the following features: . . .</p></h3>
						<a href="/blog/why-python/" class="btn-u btn-brd btn-brd-hover btn-u-blue">Read More</a>
					</div>
				</div>
			</div>
		</div>
  <!--  Initiatives  -->
  <section id="services" class="g-bg-color-pattern g-pt-80 g-pb-100">
    <div class="container">
      <header class="text-center g-mb-70">
        <h2 class="heading-title-v1 heading-title-v1--light"><strong>Initiatives</strong></h2>
        <h4><p class="united-text-2 g-mt-10">These are some Initiatives under the Community</p></h4>
      </header>

      <div class="row">
        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpykids.jpg' %}" alt="alt">
            <div>
					<a href="http://twitter.com/pythonkidsghana" class="btn rounded btn-twitter fa fa-twitter"> Twitter Handle</a>
			</div>
            <div class="services-box-v1__content">
              <h4><p class="services-box-v1__text g-mb-0">Pykids is an initiative of Python Ghana to ensure that no one is left behind! The goal of Pykids is to be a catalyst for Ghana’s young generation to be empowered in the world of STEM with specific focus on Python Programming. The community embraces any kid and enthusiastic young person between ages of 7-18 years who is interested in learning this fabulous language.</p></h4>

            </div>
          </div>
        </div>

        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpyladies1.jpg' %}"  alt="alt">
            <div>
					<a href="http://twitter.com/pyladiesghana" class="btn rounded btn-twitter fa fa-twitter"> Twitter Handle</a>
			</div>
            <div class="services-box-v1__content">
             <h4> <p class="services-box-v1__text g-mb-0">This is a Mentor-ship group in Ghana focused on helping more women become active participants and leaders in the Python open-source Community. It's an initiative to cultivate a more female-friendly environment in Python Software Community Ghana. We are open to everyone, not just women.</p></h4>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpydata1.jpg' %}" alt="alt">
             <div>
					<a href="http://twitter.com/pydataghana" class="btn rounded btn-twitter fa fa-twitter"> Twitter Handle</a>
			</div>
            <div class="services-box-v1__content">
              <h4><p class="services-box-v1__text g-mb-0">PyData Ghana brings together data loving #Pythonistas and Data Scientists, where we share ideas and learn from each other. PyData Ghana aims to promotes discussion of best practices, new approaches, and emerging technologies for data management, processing, analytics, and visualization. We approach data science using many languages, including (but not limited to) Python, Julia, and R. We aim to be an accessible, community-driven conference, with novice to advanced level presentations. PyData tutorials and talks bring attendees the latest project features along with cutting-edge use cases.</p></h4>
            </div>
          </div>
        </div>

        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpyclub1.jpg' %}" alt="alt">
             <div>
					<a href="http://twitter.com/pyclubghana" class="btn rounded btn-twitter fa fa-twitter"> Twitter Handle</a>
			</div>
            <div class="services-box-v1__content">
             <h4> <p class="services-box-v1__text g-mb-0">PyClub is an initiative of Python Ghana to have clubs in various institutions spread across the country. It is a place where Pythonistas could meet, discuss and learn about Python’s latest development, to solve their problems as a team, and learn more about best practices in their individual clubs.
			 PyClubs hosts periodic hackathons among each club on STEM related projects, amongst other fun challenging events for its members around Ghana. With this institutes will have names such as: PyClub Legon, PyClub KNUST, PyClub UCC, etc...</p> </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Initiatives -->

		<hr class="devider devider-db">

		<div class="bg-grey content">
			<div class="container text-center">
				<h2 class="title-v2 title-center">FIND MORE ABOUT PYTHON</h2>
				<h4><p class="space-lg-hor">Python is a high-level programming language , released for the first time in 1991 by its creator <strong><a href="https://en.wikipedia.org/wiki/Guido_van_Rossum">Guido van Rossum</strong></a> , a Dutch programmer currently operating in Dropbox. It derives its name from the comedy Monty Python's Flying Circus of the famous <strong><a href="https://en.wikipedia.org/wiki/Monty_Python">Monty Python</a></strong> , aired on the BBC over the years 70. At present, the development of Python (and especially thanks to the enormous and dynamic international community of developers) is managed by the organization no-profit Python Software Foundation.</p></h4>
				<a href="https://www.python.org/about/gettingstarted/" class="btn-u btn-brd  btn-brd-hover btn-u-blue ">Read About Python</a>
				<a href="https://www.python.org/about/success/" class="btn-u btn-brd-hover btn-u-blue">Python Success Stories</a>
			</div>
		</div>
				<div class="container content">
			<div class="row">
			<!-- Info Blokcs -->
			<div class="row margin-bottom-30">
				<!-- Welcome Block -->
				<!-- Latest Shots -->
				<div class="col-md-4">
					<div class="headline"><h2>Gallery</h2></div>
					<div id="myCarousel" class="carousel slide carousel-v1">
						<div class="carousel-inner">
							<div class="item active">
								<img src="{% static 'pro_images/media/quote1.jpg' %}" >
								<div class="carousel-caption">
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes1.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes2.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes3.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/ann.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/github.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/slack.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
						<div class="carousel-arrow">
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div><!--/col-md-4-->
			</div>
			</div>
			</div>
			<!-- End Info Blokcs -->
</div>

{% endblock %}
