{% extends "base2.html" %}
{% load static  events_tags twitter_tags i18n %}

{% tweets_default as tweets %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Home" %}{% endif %}{% endblock %}

{% block content %}
<div class="parallax-bg parallaxBg1">
		<!-- Interactive Slider v2 -->
		<div class="interactive-slider-v2 img-v2">
			<div class="container">
				<h1 style="text-shadow: 2px 2px 3px #282a2d">Welcome to Python Ghana </h1>
				<p><strong>Python Users Community in Ghana.</strong></p>
			</div>
			<br>
		</div>
		<!-- End Interactive Slider v2 -->
		<div class="container content">
			<div class="text-center margin-bottom-50">
				<h2 class="title-v2 title-center"><strong>Welcome to our Community</strong></h2>
				<h4>The Python Software Community Ghana (Python Ghana aka PyGhana) is a body that embraces all friends of the Python programming language in Ghana. We are a community of master programmers, intermediate and even absolute beginners, but one thing we all have in common is the love of Python. It encompasses all friends of the Python programming language in the Ghana.</h4>
			</div>
		</div>
		<div class="bg-grey content-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="responsive-video margin-bottom-30">
							<iframe width="640" height="360" src="https://www.youtube.com/embed/hxGB7LU4i1I" frameborder="0" allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-md-6">
						<h2 class="title-v2">WHY PYTHON?</h2>
						<h5><p>Python is easy to use, powerful, and versatile, making it a great choice for beginners and experts alike. Python’s readability makes it a great first programming language — it allows you to think like a programmer and not waste time understanding the mysterious syntax that other programming languages can require.</p>
						<p>Python is a general-purpose language, which means it can be used to build just about anything, which will be made easy with the right tools/libraries. Professionally, Python is great for backend web development, data analysis, artificial intelligence, and scientific computing. . . .</p></h5>
						<a href="/blog/why-you-should-learn-python/" class="btn-u btn-brd btn-brd-hover btn-u-blue">Read More</a>
					</div>
				</div>
			</div>
		</div>
  <!--  Initiatives  -->
  <section id="services" class="g-bg-color-pattern g-pt-80 g-pb-100">
    <div class="container">
      <header class="text-center g-mb-70">
        <h2 class="heading-title-v1 heading-title-v1--light"><strong>Initiatives</strong></h2>
        <h4><p class="united-text-2 g-mt-10">These are some Initiatives under the Community</p></h4>
      </header>

      <div class="row">
        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpykids.jpg' %}" alt="alt">
            <div>
            	<ul>
            	<p></p><a href="/pykidsghana" class="btn rounded btn-sm btn-weibo" target="/"><i class="fa fa-globe"></i> Website</a>
				
				<a href="http://twitter.com/pykidsghana" class="btn rounded btn-sm btn-twitter" target="/"><i class="fa fa-twitter"></i> Twitter</a>
			</ul>
			</div>
            <div class="services-box-v1__content">
              <h5><p class="services-box-v1__text g-mb-0"><strong>Pykids Ghana </strong> is an initiative of Python Ghana to ensure that no one is left behind! The goal of Pykids is to be a catalyst for Ghana’s young generation to be empowered in the world of STEM with specific focus on Python Programming. The community embraces any kid and enthusiastic young person between ages of 7-18 years who is interested in learning this fabulous language.</p></h5>

            </div>
          </div>
        </div>

        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpyladies1.jpg' %}"  alt="alt">
            <div>
            	<ul>
            	<p></p><a href="https://ghana.pyladies.com" class="btn rounded btn-sm btn-weibo" target="/"><i class="fa fa-globe"></i> Website</a>
				
					<a href="http://twitter.com/pyladiesghana" class="btn rounded btn-sm btn-twitter" target="/"><i class="fa fa-twitter"></i> Twitter</a>
				</ul>
			</div>
            <div class="services-box-v1__content">
             <h5> <p class="services-box-v1__text g-mb-0"><strong>PyLadies Ghana</strong> is a Mentor-ship group in Ghana focused on helping more women become active participants and leaders in the Python open-source Community. It's an initiative to cultivate a more female-friendly environment in Python Software Community Ghana. We are open to everyone, not just women.</p></h5>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpydata1.jpg' %}" alt="alt">
             <div>
             	<ul>
            	<p></p><a href="/pydataghana" class="btn rounded btn-sm btn-weibo" target="/"><i class="fa fa-globe"></i> Website</a>
				
				<a href="http://twitter.com/pydataghana" class="btn rounded btn-sm btn-twitter" target="/"><i class="fa fa-twitter"></i> Twitter</a>
				</ul>
			</div>
            <div class="services-box-v1__content">
              <h5><p class="services-box-v1__text g-mb-0"><strong>PyData Ghana</strong> brings together data loving #Pythonistas and Data Scientists, where we share ideas and learn from each other. PyData Ghana aims to promotes discussion of best practices, new approaches, and emerging technologies for data management, processing, analytics, and visualization. We approach data science using many languages, including (but not limited to) Python, Julia, and R. We aim to be an accessible, community-driven conference, with novice to advanced level presentations. PyData tutorials and talks bring attendees the latest project features along with cutting-edge use cases.</p></h5>
            </div>
          </div>
        </div>

        <div class="col-md-6 g-mb-30">
          <div class="services-box-v1 g-bg-color-white">
            <img class="services-box-v1__img img-responsive" src="{% static 'pro_images/webpyclub1.jpg' %}" alt="alt">
             <div>
             	<ul>
            	<p></p><a href="/pyclubghana" class="btn rounded btn-sm btn-weibo" target="/"><i class="fa fa-globe"></i> Website</a>
				
				<a href="http://twitter.com/pyclubghana" class="btn rounded btn-sm btn-twitter" target="/"><i class="fa fa-twitter"></i> Twitter</a>
				</ul>
			</div>
            <div class="services-box-v1__content">
             <h5> <p class="services-box-v1__text g-mb-0"><strong>PyClub</strong> is an initiative of Python Ghana to have clubs in various institutions spread across the country. It is a place where Pythonistas could meet, discuss and learn about Python’s latest development, to solve their problems as a team, and learn more about best practices in their individual clubs.
			 PyClubs hosts periodic hackathons among each club on STEM related projects, amongst other fun challenging events for its members around Ghana. With this institutes will have names such as: PyClub Legon, PyClub KNUST, PyClub UCC, etc...</p> </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Initiatives -->

		<hr class="devider devider-db">
		<div class="bg-grey">
			<div class="container content-sm">
				<!-- Small Content Boxes -->
				<header class="text-center g-mb-70">
                     <h3><p class="united-text-2 g-mt-10"><strong>Local User Communities in Ghana</strong></p></h3>
                </header>
                <h5>Python User Groups Meetups around Ghana, is where both developers and enthusiast of the Python programming language would meet
                periodically to share how they use the language, learn new tricks, socialize with other Python programming enthusiasts, check out
                presentations on Pythonic topics, maybe participate in code sprint or two, possibly work on projects and provide mutual technical support</h5>
				<br>
				<!-- End Small Content Boxes -->
				<div class="row margin-bottom-20">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="{% static 'pro_images/Py-Accra.jpg' %}" alt="">
							</div>
							<a class="btn-more hover-effect" href="/accra" target="/">visit page</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#"><strong>Python Accra</strong></a></h3>
							<p>The Python User Group in Accra</p>
							<a href="https://twitter.com/pythonaccra" class="btn rounded btn-xs btn-twitter fa-fixed">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://web.facebook.com/groups/PyGhana/" class="btn btn-xs btn-facebook fa-fixed">
									<i class="fa fa-facebook"></i>
								</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="{% static 'pro_images/Py-Kumasi.jpg' %}" alt="">
							</div>
							<a class="btn-more hover-effect" href="/kumasi" target="/">visit page</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#"><strong>Python Kumasi</strong></a></h3>
							<p>The Python User Group in Kumasi</p>
								<a href="https://twitter.com/pythonkumasi" class="btn rounded btn-xs btn-twitter fa-fixed">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://web.facebook.com/groups/PyGhana/" class="btn btn-xs btn-facebook fa-fixed">
									<i class="fa fa-facebook"></i>
								</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="{% static 'pro_images/Py-HO.jpg' %}" alt="">
							</div>
							<a class="btn-more hover-effect" href="/ho" target="/">visit page</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#"><strong>Python Ho</strong></a></h3>
							<p>The Python User Group in Ho</p>
							<a href="https://twitter.com/pythonho" class="btn rounded btn-xs btn-twitter fa-fixed">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://web.facebook.com/groups/PyGhana/" class="btn btn-xs btn-facebook fa-fixed">
									<i class="fa fa-facebook"></i>
								</a>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnails thumbnail-style thumbnail-kenburn">
						<div class="thumbnail-img">
							<div class="overflow-hidden">
								<img class="img-responsive" src="{% static 'pro_images/Py-CC.jpg' %}" alt="">
							</div>
							<a class="btn-more hover-effect" href="/capecoast" target="/">visit page</a>
						</div>
						<div class="caption">
							<h3><a class="hover-effect" href="#"><strong>Python CapeCoast</strong></a></h3>
							<p>The Python User Group in Cape Coast</p>
							<a href="https://twitter.com/pythoncapecoast" class="btn rounded btn-xs btn-twitter fa-fixed">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="https://web.facebook.com/groups/PyGhana/" class="btn btn-xs btn-facebook fa-fixed">
									<i class="fa fa-facebook"></i>
								</a>
						</div>
					</div>
				</div>
		
			</div>
				<br>
				<h5>To contact the Local User Group Community Leads above, you can send a <strong>mail</strong> to "<i>Location</i>"@pythonghana.org (eg, <i><strong>accra@pythonghana.org</strong></i>)</h5>
			</div>
		</div>

		<div class="bg-grey content">
			<div class="container text-center">
				<h2 class="title-v2 title-center">FIND MORE ABOUT PYTHON</h2>
				<h5><p>Python is a high-level programming language , released for the first time in 1991 by its creator <a href="https://en.wikipedia.org/wiki/Guido_van_Rossum"><strong>Guido van Rossum</strong></a> , a Dutch programmer currently operating in Dropbox. It derives its name from the comedy Monty Python's Flying Circus of the famous <strong><a href="https://en.wikipedia.org/wiki/Monty_Python">Monty Python</a></strong> , aired on the BBC over the years 70. At present, the development of Python (and especially thanks to the enormous and dynamic international community of developers) is managed by the organization no-profit Python Software Foundation.</p></h5>
				<a href="https://www.python.org/about/gettingstarted/" class="btn-u btn-brd  btn-brd-hover btn-u-blue ">Read About Python</a>
				<a href="https://www.python.org/about/success/" class="btn-u btn-brd-hover btn-u-blue">Python Success Stories</a>
			</div>
		</div>

		<div class="container content-md">
			<ul class="row block-grid-v2">
				<li class="col-md-4 col-sm-6 md-margin-bottom-30">
					<div class="block-grid-v2-info rounded-bottom">
						{% upcoming_events %}
					</div>
				</li>

				<li class="col-md-4 col-sm-6 md-margin-bottom-30">
					<div class="block-grid-v2-info rounded-bottom">
						<div class="headline headline-md"><h3>Gallery</h3></div>
								<div id="myCarousel" class="carousel slide carousel-v1">
									
						<div class="carousel-inner">
							<div class="item active">
								<img src="{% static 'pro_images/media/quotes22012018.png' %}" >
								<div class="carousel-caption">
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes1.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes8.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes6.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<img src="{% static 'pro_images/media/quotes7.png' %}" >
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
							<div class="item">
								<a href="/gallery"><img src="{% static 'pro_images/media/more.jpg' %}" ></a>
								<div class="carousel-caption">
									<p></p>
								</div>
							</div>
						<div class="carousel-arrow">
									
							<a class="left carousel-control" href="#myCarousel" data-slide="prev">
								<i class="fa fa-angle-left"></i>
							</a>
							<a class="right carousel-control" href="#myCarousel" data-slide="next">
								<i class="fa fa-angle-right"></i>
							</a>
						</div>
					</div>
				</div>
					</div>
				</li>
				<li class="col-md-4 col-sm-12">
					<div class="block-grid-v2-info rounded-bottom">
						<div class="headline headline-md"><h3>Latest Tweets</h3></div>
						<!-- tweets -->
						<div class="blog-twitter margin-bottom-40">
									<div class="blog-twitter-inner">
										        <a class="twitter-timeline" data-width="420" data-height="400" href="https://twitter.com/PyGhana?ref_src=twsrc%5Etfw">Tweets by Python Ghana(PyGhana)</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
									</div>
						</div>
					<!-- End tweets -->
					</div>
				</li>
			</ul>
		</div>

			
			<!-- Owl Carousel v3 -->
					<div class="owl-carousel-style-v2 margin-bottom-50 text-center">
						<h2 class="title-v2 title-center">Our Partners</h2>
						<p>We appreciate these organizations that are helping support us in one way or the other</p><br>

						<div class="owl-slider-v3">
							<div class="item">
								<a href="https://www.python.org/psf-landing/" target="/"><img class="img-responsive" src="{% static 'pro_images/partPSF.jpg' %}" alt=""></a>
							</div>
							<div class="item">
								<a href="https://www.pythonanywhere.com/?affiliate_id=002cb45d" target="/"><img class="img-responsive" src="{% static 'pro_images/partPA.jpg' %}" alt=""></a>
							</div>
						</div>
					</div>
					<!-- End Owl Carousel v3 -->


</div>
{% endblock %}
