{% extends "base22.html" %}
{% load static %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Constitution" %}{% endif %}{% endblock %}


{% block content %} 

					

        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
               <h1 class="pull-left"><strong>Constitution</strong></h1>
            </div>
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->
		
		<!--=== Parallax About Block ===-->
		<div class="parallax-bg parallaxBg1">
			<div class="container content parallax-about">
				<div class="row">
					<div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x fa fa-gavel"></i>
							</div>
						</div>
						<div class="banner-info dark margin-bottom-10">
							<div class="overflow-h">
								<h3><strong>Name</strong></h3>
								<ul><h4>The name of the organization shall be Python Software Community Ghana. Also known as PyGhana.</h4></ul>
								<hr class="devider devider-db">
								<h3><strong>Purpose</strong></h3>
								<ul><h4>The main purpose of PyGhana is to promote the growth of a lively and dynamic community of users of the Python programming language and to promote the use of the latter in Ghana.</h4></ul>
							</div>
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Objectives</strong></h3></div>
								<ul><h4>
								PyGhana also aims to disseminate the local Python knowledge to build a stronger developer community.<br><br>
								PyGhana promotes Free and Open Source Software, favors its adoption within the community, and collaborates with community players to achieve this goal.
								<br><br>
								Other Objectives shall be to:
									<h5><li>promote the use of the Python programming language across industries, communities, schools and learning centres regardless of age, ethnic region, gender, ability and recognizing the value of diversity.</li>
									<li>involve IT professionals who use the Python programming language with the local community to impart knowledge. </li>
									<li>To facilitate meetups, seminars and conferences that bring together industry professional to learn, share, collaborate and partner not only on projects but to achieve set learning outcomes. </li>
									<li> To ensure global collaboration between the local community and the widely international Python community. </li>
									<li> To raise funds and receive contributions where appropriate to finance the objectives of community projects. </li>
									<li>To educate, encourage, support and if necessary help facilitate projects of members of the community.</li>
									<li>To monitor all community projects to ensure a safe and friendly environment and conformity to the code of conduct as stipulated by the Python Software foundation.</li>
									<li>To organize Python meetups, training courses, events, workshops, conferences at suitable venues across Ghana.</li>
									<li>To collaborate with groups with similar interests to exchange information and offer advice.</li>
									<li>To take any action that is lawful, which would help the community fulfil its aims.</li>
									<li>The society shall not pursue any aim not set out in the above clauses unless it be provided by it's members with an amenity for which there is a material demand among the membership.</li></h5>
								</h4></ul>
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Membership</strong></h3></div>

						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Committee</strong></h3></div>
							
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Offices and Responsibilities</strong></h3></div>
							
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Objectives</strong></h3></div>
							
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Objectives</strong></h3></div>
							
						</div>
						<hr class="devider devider-db">
						<div class="banner-info dark margin-bottom-10">
							<div><h3><strong>Objectives</strong></h3></div>
							
						</div>
					</div>
					
					
				</div>
			</div><!--/container-->
		</div>
		<!--=== End Parallax About Block ===-->
						

{% endblock %}
