{% extends "base22.html" %}
{% load static %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "COC" %}{% endif %}{% endblock %}


{% block content %}

        <!--=== Breadcrumbs ===-->
        <div class="breadcrumbs">
            <div class="container">
               <h1 class="pull-left"><strong>Code of Conduct</strong></h1>
            </div>
        </div><!--/breadcrumbs-->
        <!--=== End Breadcrumbs ===-->


		<!--=== Parallax About Block ===-->
		<div class="parallax-bg parallaxBg1">
			<div class="container content parallax-about">
				<div class="row">
					<div>
						<div class="banner-info dark margin-bottom-10">
							<i class="rounded-x icon-screen-tablet"></i>
							<div class="overflow-h">
								<h5>The Python Software Community Ghana is made up of members from around Ghana with very diverse set of skills, personalities, cultures and experiences. It is through these differences that our community has experienced many successes and continued growth. When you're working with members of the community, we encourage you to follow these guidelines which help steer our interactions and strive to keep Python Ghana a positive, successful, and growing community. <br> This also applies to all <strong>user groups and initiatives</strong> under the community
								<br><br>
									A member of the Python Ghana community is <strong>open, considerate, and respectful</strong>. Behaviours that reinforce these values contribute to a positive environment, and include:
                                        <ul>
                                        <li><strong>Being open.</strong> Members of the community are open to collaboration, whether it's on PEPs, patches, problems, or otherwise.</li>
                                        <li><strong>Focusing on what is best for the community.</strong> We're respectful of the processes set forth in the community, and we work within them.</li>
                                        <li><strong>Acknowledging time and effort.</strong> We're respectful of the volunteer efforts that permeate the Python community. We're thoughtful when addressing the efforts of others, keeping in mind that often times the labor was completed simply for the good of the community.</li>
                                        <li><strong>Being respectful of differing viewpoints and experiences.</strong> We're receptive to constructive comments and criticism, as the experiences and skill sets of other members contribute to the whole of our efforts.</li>
                                        <li><strong>Showing empathy towards other community members.</strong> We're attentive in our communications, whether in person or online, and we're tactful when approaching differing views.</li>
                                        <li><strong>Being considerate.</strong> Members of the community are considerate of their peers -- other Python users.</li>
                                        <li><strong>Being respectful.</strong> We're respectful of others, their positions, their skills, their commitments, and their efforts.</li>
                                        <li><strong>Gracefully accepting constructive criticism.</strong> When we disagree, we are courteous in raising our issues.</li>
                                        <li><strong>Using welcoming and inclusive language.</strong> We're accepting of all who wish to take part in our activities, fostering an environment where anyone can participate and everyone can make a difference.</li>
                                        </ul>

									<br><br>
									</h5></ul>
									<h6>
									For Questions/Comments/Reports? Please write to the board of Committee at <a class="mailto" href="mailto:pyghana@python.org">pyghana@python.org</a>. Note: this email address is to the members of the board of Python Ghana Community.
									<br><br>
									<strong>NB:</strong> This code of conduct has been adapted from the <a href="https://www.python.org/psf/" target"/"><strong>Python Software Foundation,</strong></a> the Global body for all local Python communities, in which we are a part of. You can find the original full code of conduct on their website <a href="https://www.python.org/psf/conduct/">https://www.python.org/psf/conduct/</a></h6>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div><!--/container-->
		<!--=== End Parallax About Block ===-->
{% endblock %}
