{% extends "layoutdetail.html" %}
{% load staticfiles %}
{% load i18n mezzanine_tags blog_tags staticfiles keyword_tags disqus_tags %}
{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Gallery" %}{% endif %}{% endblock %}


{% block content %}


<div class="shortcode-html">
    <section class="g-brd-top g-brd-bottom g-brd-gray-light-v4 g-py-50">
      <div class="container">
        <div class="d-sm-flex text-center">
          <div class="align-self-center">
            <h3 class="h2 g-font-weight-300 g-mb-20"><b>{{ album.title }}</b></h3>
          </div>

          <div class="align-self-center ml-auto">
            <ul class="u-list-inline">
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-main" href="#">Home</a>
                <i class="g-color-gray-light-v2 g-ml-5">/</i>
              </li>
              <li class="list-inline-item g-mr-5">
                <a class="u-link-v5 g-color-main" href="/gallery">Gallery</a>
                <i class="g-color-gray-light-v2 g-ml-5">/</i>
              </li>
              <li class="list-inline-item g-color-primary">
                <span>{{ album.title }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>

      <section class="">
        <div class="container">
 {% if album.is_visible %}
      <!-- MasterSlider Main -->
      <div class="container g-max-width-960 g-mt-50">
        <div id="masterslider" class="master-slider ms-skin-light-3">
            {% for item in images %}
          <div class="ms-slide" data-delay="3" data-fill-mode="fill">
            <img src="{% static 'assets20/img/blank.gif' %}" alt="" title="" data-src="{{ item.image.url }}" />
            <img class="ms-thumb" src="{{ item.image.url }}" alt="" />
          </div>
          {% endfor %}
        </div>
      </div>

      <div class="shortcode-html">
        <!-- Box Shadow -->
        <div class="u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-40 g-mb-30" role="alert">
          
            <p><em>{{album.description}}</em></p><br>

            {% if album.twitter_url %}
            <a class="u-icon-v1 u-icon-v4-rounded-10 u-icon-v4-bg-twitter g-rounded-10 g-mr-10 g-mb-10" href="{{ album.twitter_url }}" target="/" >
                <span class="u-icon-v4-inner g-color-white g-color-white--hover">
                  <i class="fa fa-twitter"></i>
                </span>
              </a>
              {% else %}

            {% endif %}

            {% if album.facebook_url %}
            <a class="u-icon-v1 u-icon-v4-rounded-10 u-icon-v4-bg-facebook g-rounded-10 g-mr-10 g-mb-10" href="{{ album.facebook_url }}" target="/" >
                <span class="u-icon-v4-inner g-color-white g-color-white--hover">
                  <i class="fa fa-facebook"></i>
                </span>
              </a>
              {% else %}

            {% endif %}
            <br><br>

            {% if album.googlephotos_url %}
            <p><b>View complete album here</b></p>
            <a href="{{ album.googlephotos_url  }}" target="/">
            <img src="{% static 'assets20/img/icons/googlephotos.png' %}" alt="" class="img-responsive">
            </a>
            {% else %}
            {% endif %}
                 <br><br>
            {% if album.flickr_url %}
                 <p><b>View complete album here</b></p>
                 <a href="{{ album.flickr_url }}" target="/">
                    <img src="{% static 'assets/icons/flickr.png' %}" alt="" class="img-responsive">
                </a>
            {% else %}
            {% endif %}
        </ul>
        </div>
        <!-- End Box Shadow -->
      </div>
    
      <!-- END MasterSlider Main -->
      {% else %}
      <h3>This album is temporarily unavailable.</h3>
    {% endif %}
              </div>
            </section>




{% endblock %}

